<a href="https://colab.research.google.com/github/SangBeom-Hahn/Kdata_Campus_Daily_Study/blob/master/4%2C5%2C6%EC%9D%BC%EC%B0%A8_%EA%B8%B0%EB%B3%B8_%EC%A0%84%EC%B2%98%EB%A6%AC%EB%A7%8C_%EC%A0%81%EC%9A%A9_%ED%9B%84_%EA%B2%B0%EA%B3%BC_%EB%B9%84%EA%B5%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import preprocessing

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings, random
warnings.filterwarnings(action='ignore')

from sklearn.metrics import log_loss
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold

from sklearn.cluster import KMeans


import lightgbm as lgb
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/프로그래밍 언어 공부 자료/인공지능/2022 데청캠/강의 자료/6일차/2022 데이터 청년 캠퍼스 6일차 과제(신규식, 한상범)/SolarPv.xlsx")

In [ ]:
df

,Date,Generatedpower,AveragePM10,Averagecloud,Hightemp,WeatherForecast,HumidityForecast,Rain,Sight,Sunlight
0,2017-01-26,2230.406983,62.470588,0.000000,8.6,맑음,51.000000,0.0,10.357143,13.5526
1,2017-01-27,2326.791016,44.529412,2.411765,8.1,맑음,44.571429,0.0,14.714286,13.1526
2,2017-01-28,2477.729004,38.882353,0.352941,10.8,맑음,37.000000,0.0,10.671429,13.6300
3,2017-01-29,241.446289,37.176471,7.352941,6.7,흐림,99.000000,4.0,9.385714,2.4199
4,2017-01-30,2768.182617,35.823529,2.411765,3.5,맑음,54.571429,0.0,13.371429,12.2054
...,...,...,...,...,...,...,...,...,...,...
1350,2020-10-07,2878.000000,20.176471,1.588235,23.0,맑음,40.285714,0.0,13.285714,17.6437
1351,2020-10-08,2937.250000,24.000000,0.117647,22.3,맑음,41.571429,0.0,14.000000,20.1938
1352,2020-10-09,2693.000000,25.000000,3.058824,23.0,구름,41.000000,0.0,14.457143,19.6520
1353,2020-10-10,2639.250000,19.058824,2.176471,23.3,맑음,47.285714,0.0,14.142857,17.0335
1354,2020-10-11,2633.250000,21.117647,1.529412,22.1,맑음,47.571429,0.0,13.500000,15.9786

In [ ]:
df = pd.get_dummies(df, columns = ['WeatherForecast'])

In [ ]:
df

,Date,Generatedpower,AveragePM10,Averagecloud,Hightemp,HumidityForecast,Rain,Sight,Sunlight,WeatherForecast_강수,WeatherForecast_구름,WeatherForecast_맑음,WeatherForecast_안개,WeatherForecast_흐림
0,2017-01-26,2230.406983,62.470588,0.000000,8.6,51.000000,0.0,10.357143,13.5526,0,0,1,0,0
1,2017-01-27,2326.791016,44.529412,2.411765,8.1,44.571429,0.0,14.714286,13.1526,0,0,1,0,0
2,2017-01-28,2477.729004,38.882353,0.352941,10.8,37.000000,0.0,10.671429,13.6300,0,0,1,0,0
3,2017-01-29,241.446289,37.176471,7.352941,6.7,99.000000,4.0,9.385714,2.4199,0,0,0,0,1
4,2017-01-30,2768.182617,35.823529,2.411765,3.5,54.571429,0.0,13.371429,12.2054,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,2020-10-07,2878.000000,20.176471,1.588235,23.0,40.285714,0.0,13.285714,17.6437,0,0,1,0,0
1351,2020-10-08,2937.250000,24.000000,0.117647,22.3,41.571429,0.0,14.000000,20.1938,0,0,1,0,0
1352,2020-10-09,2693.000000,25.000000,3.058824,23.0,41.000000,0.0,14.457143,19.6520,0,1,0,0,0
1353,2020-10-10,2639.250000,19.058824,2.176471,23.3,47.285714,0.0,14.142857,17.0335,0,0,1,0,0
1354,2020-10-11,2633.250000,21.117647,1.529412,22.1,47.571429,0.0,13.500000,15.9786,0,0,1,0,0

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df['year'] = df["Date"].dt.year
df['month'] = df["Date"].dt.month
df['day'] = df["Date"].dt.day

In [ ]:
df.drop(["Date"], axis = 1, inplace=True)

In [ ]:
df

,Generatedpower,AveragePM10,Averagecloud,Hightemp,HumidityForecast,Rain,Sight,Sunlight,WeatherForecast_강수,WeatherForecast_구름,WeatherForecast_맑음,WeatherForecast_안개,WeatherForecast_흐림,year,month,day
0,2230.406983,62.470588,0.000000,8.6,51.000000,0.0,10.357143,13.5526,0,0,1,0,0,2017,1,26
1,2326.791016,44.529412,2.411765,8.1,44.571429,0.0,14.714286,13.1526,0,0,1,0,0,2017,1,27
2,2477.729004,38.882353,0.352941,10.8,37.000000,0.0,10.671429,13.6300,0,0,1,0,0,2017,1,28
3,241.446289,37.176471,7.352941,6.7,99.000000,4.0,9.385714,2.4199,0,0,0,0,1,2017,1,29
4,2768.182617,35.823529,2.411765,3.5,54.571429,0.0,13.371429,12.2054,0,0,1,0,0,2017,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,2878.000000,20.176471,1.588235,23.0,40.285714,0.0,13.285714,17.6437,0,0,1,0,0,2020,10,7
1351,2937.250000,24.000000,0.117647,22.3,41.571429,0.0,14.000000,20.1938,0,0,1,0,0,2020,10,8
1352,2693.000000,25.000000,3.058824,23.0,41.000000,0.0,14.457143,19.6520,0,1,0,0,0,2020,10,9
1353,2639.250000,19.058824,2.176471,23.3,47.285714,0.0,14.142857,17.0335,0,0,1,0,0,2020,10,10
1354,2633.250000,21.117647,1.529412,22.1,47.571429,0.0,13.500000,15.9786,0,0,1,0,0,2020,10,11

In [ ]:
X = df.drop(["Generatedpower"], axis=1)
y = df["Generatedpower"]

In [ ]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state = 34)

In [ ]:
from lightgbm import LGBMRegressor

lgbm_model = LGBMRegressor()
lgbm_model.fit(X_train, y_train,verbose=True)

LGBMRegressor()

In [ ]:
score = lgbm_model.score(X_valid, y_valid)
print(score)

0.8298575133364285

In [ ]:
# 전처리 후
df = pd.read_excel("/content/drive/MyDrive/프로그래밍 언어 공부 자료/인공지능/2022 데청캠/강의 자료/6일차/2022 데이터 청년 캠퍼스 6일차 과제(신규식, 한상범)/SolarPv.xlsx")

In [ ]:
# 기본 전처리만 묶어서 결과 비교 코드
df.at[df["Rain"] > 0, "Rain"] = 1
df.at[df["AveragePM10"] == -1, "AveragePM10"] = 0

In [ ]:
df_Scaled = df.loc[:, ["AveragePM10", "Averagecloud", "Sight"]]

In [ ]:
feature = ['AveragePM10', 'Averagecloud', 'Sight']

In [ ]:
scaler = StandardScaler()
scaler.fit(df_Scaled)

df_Scaled_Result = scaler.transform(df_Scaled)

scaled_Result_Df = pd.DataFrame(df_Scaled_Result, columns = feature)

In [ ]:
df_Main = df.drop(columns=['AveragePM10', 'Averagecloud', 'Sight'], axis = 1)
df_Main

,Date,Generatedpower,Hightemp,WeatherForecast,HumidityForecast,Rain,Sunlight
0,2017-01-26,2230.406983,8.6,맑음,51.000000,0.0,13.5526
1,2017-01-27,2326.791016,8.1,맑음,44.571429,0.0,13.1526
2,2017-01-28,2477.729004,10.8,맑음,37.000000,0.0,13.6300
3,2017-01-29,241.446289,6.7,흐림,99.000000,1.0,2.4199
4,2017-01-30,2768.182617,3.5,맑음,54.571429,0.0,12.2054
...,...,...,...,...,...,...,...
1350,2020-10-07,2878.000000,23.0,맑음,40.285714,0.0,17.6437
1351,2020-10-08,2937.250000,22.3,맑음,41.571429,0.0,20.1938
1352,2020-10-09,2693.000000,23.0,구름,41.000000,0.0,19.6520
1353,2020-10-10,2639.250000,23.3,맑음,47.285714,0.0,17.0335
1354,2020-10-11,2633.250000,22.1,맑음,47.571429,0.0,15.9786

In [ ]:
df_Total = pd.concat([df_Main, scaled_Result_Df], axis = 1)

In [ ]:
df_Total = pd.get_dummies(df_Total, columns = ['WeatherForecast'])

In [ ]:
df_Total

,Date,Generatedpower,Hightemp,HumidityForecast,Rain,Sunlight,AveragePM10,Averagecloud,Sight,WeatherForecast_강수,WeatherForecast_구름,WeatherForecast_맑음,WeatherForecast_안개,WeatherForecast_흐림
0,2017-01-26,2230.406983,8.6,51.000000,0.0,13.5526,1.288648,-0.997195,-0.935683,0,0,1,0,0
1,2017-01-27,2326.791016,8.1,44.571429,0.0,13.1526,0.408548,-0.121018,0.344995,0,0,1,0,0
2,2017-01-28,2477.729004,10.8,37.000000,0.0,13.6300,0.131533,-0.868974,-0.843306,0,0,1,0,0
3,2017-01-29,241.446289,6.7,99.000000,1.0,2.4199,0.047852,1.674078,-1.221211,0,0,0,0,1
4,2017-01-30,2768.182617,3.5,54.571429,0.0,12.2054,-0.018517,-0.121018,-0.049706,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,2020-10-07,2878.000000,23.0,40.285714,0.0,17.6437,-0.786079,-0.420200,-0.074899,0,0,1,0,0
1351,2020-10-08,2937.250000,22.3,41.571429,0.0,20.1938,-0.598517,-0.954455,0.135048,0,0,1,0,0
1352,2020-10-09,2693.000000,23.0,41.000000,0.0,19.6520,-0.549462,0.114054,0.269414,0,1,0,0,0
1353,2020-10-10,2639.250000,23.3,47.285714,0.0,17.0335,-0.840905,-0.206498,0.177037,0,0,1,0,0
1354,2020-10-11,2633.250000,22.1,47.571429,0.0,15.9786,-0.739910,-0.441570,-0.011915,0,0,1,0,0

In [ ]:
df_Total['Date'] = pd.to_datetime(df_Total['Date'])
df_Total['year'] = df_Total["Date"].dt.year
df_Total['month'] = df_Total["Date"].dt.month
df_Total['day'] = df_Total["Date"].dt.day
df_Total.drop(["Date"], axis = 1, inplace=True)

In [ ]:
df_Total

,Generatedpower,Hightemp,HumidityForecast,Rain,Sunlight,AveragePM10,Averagecloud,Sight,WeatherForecast_강수,WeatherForecast_구름,WeatherForecast_맑음,WeatherForecast_안개,WeatherForecast_흐림,year,month,day
0,2230.406983,8.6,51.000000,0.0,13.5526,1.288648,-0.997195,-0.935683,0,0,1,0,0,2017,1,26
1,2326.791016,8.1,44.571429,0.0,13.1526,0.408548,-0.121018,0.344995,0,0,1,0,0,2017,1,27
2,2477.729004,10.8,37.000000,0.0,13.6300,0.131533,-0.868974,-0.843306,0,0,1,0,0,2017,1,28
3,241.446289,6.7,99.000000,1.0,2.4199,0.047852,1.674078,-1.221211,0,0,0,0,1,2017,1,29
4,2768.182617,3.5,54.571429,0.0,12.2054,-0.018517,-0.121018,-0.049706,0,0,1,0,0,2017,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,2878.000000,23.0,40.285714,0.0,17.6437,-0.786079,-0.420200,-0.074899,0,0,1,0,0,2020,10,7
1351,2937.250000,22.3,41.571429,0.0,20.1938,-0.598517,-0.954455,0.135048,0,0,1,0,0,2020,10,8
1352,2693.000000,23.0,41.000000,0.0,19.6520,-0.549462,0.114054,0.269414,0,1,0,0,0,2020,10,9
1353,2639.250000,23.3,47.285714,0.0,17.0335,-0.840905,-0.206498,0.177037,0,0,1,0,0,2020,10,10
1354,2633.250000,22.1,47.571429,0.0,15.9786,-0.739910,-0.441570,-0.011915,0,0,1,0,0,2020,10,11

In [ ]:
X = df_Total.drop(["Generatedpower"], axis=1)
y = df_Total["Generatedpower"]
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state = 34)

In [ ]:
from lightgbm import LGBMRegressor

lgbm_model = LGBMRegressor()
lgbm_model.fit(X_train, y_train,verbose=True)

score = lgbm_model.score(X_valid, y_valid)
print(score)

0.8278301125281804

In [ ]:
# 오히려 결과가 떨어짐